<div class="items-list_body">
  <div class="items-list_scroll">
    @if (_routes && hasImages) {
      <div class="items-list_container">
        @for (item of _items; track item) {
          <item-card [name]="item.name" [link]="item.routerLink" [imageResource]="item.imgSrc"
          [spoiler]="item.spoiler"></item-card>
        }
      </div>
    } @else {
      <div [ngClass]="_items.length > 20? 'search-items-grid': 'items-list_container'"
        [ngStyle]="_items.length == 1? {'grid-template-columns': 'none'}: {}">
        @for (item of _items; track item) {
          <a [routerLink]="item.routerLink">
            <button appearance="custom" class="items-list_item-button" tuiButton type="button">
            {{item.name}}</button></a>
          }
        </div>
      }
    </div>
  </div>