<div class="search-items">
    <form class="items-list_filter-field" [formGroup]="searchForm">
        <tui-input  
            [formControlName]="'search'"    
            [tuiTextfieldIcon]="'tuiIconSearchLarge'"
            [tuiTextfieldCleaner]="true">
            Search for text in scenarios
            <input tuiTextfield />
        </tui-input>
    </form>

    <div class="search-items-grid">
        <div *ngFor="let item of filteredItems">
            <a [routerLink]="item.routerLink"><button appearance="custom" class="items-list_item-button" tuiButton type="button">
                    {{item.name}}</button></a>
        </div>
    </div>
</div>