<header-controls></header-controls>


<div class="items-list_body">
        <div class="items-list_scroll">
                <div class="items-list_container vw80 one-column">
                        <tui-island class="additional-page_island">
                                <p>Thanks to:</p>
                                <p><a href="https://github.com/detroitbecometext/detroitbecometext.github.io" tuiLink>Detroid Become Text project</a> as a main inspiration for this project</p>
                        </tui-island>
                </div>
        </div>
</div>

<footer-controls></footer-controls>
