<header-controls></header-controls>


<div class="items-list_body">
        <div class="items-list_scroll">
                <div class="items-list_container vw80 one-column">
                        <tui-island class="additional-page_island">
                                <p>Thanks to:</p>
                                <p><a href="https://github.com/detroitbecometext/detroitbecometext.github.io" tuiLink>Detroid Become Text project</a> as a main inspiration for this project</p>
                                <p> <a href="https://github.com/CommitteeOfZero" tuiLink>The Committee of 0</a> for several tools that helped with unpacking resources from Chaos;Head LCC and Chaos;Child LCC and a bunch of valuable info on their Discord server</p>
                                <p><a href="https://github.com/UlyssesWu" tuiLink>UlyssesWu</a> for <a href="https://github.com/UlyssesWu/FreeMote" tuiLink>FreeMote</a> that helped to unpack resources for Dunamis 15 and Occultic;Nine</p>
                                <p><a href="https://github.com/Manicsteiner" tuiLink> Manicsteiner</a> for <a href="https://github.com/Manicsteiner/mvl_preview" tuiLink>mvl_preview</a> and <a href="https://github.com/Manicsteiner/YuruCampHeaderAdder" tuiLink>YuruCampHeaderAdder</a> both of which helped to extract bunch of character sprites from Chaos;Head LCC, Chaos;Child LCC, Summertime Render AH</p>
                                <p><a href="https://github.com/Xzonn" tuiLink>Xzonn</a> for fork of <a href="https://github.com/Xzonnassetstudio" tuiLink>AssetStudio</a> that helped to unpack resources from Unity assets of Summer Time Render</p>
                                <p>Muzhi for RioX that helped extract scenario(without names) and images from Disorder 6</p>
                                <p><a href="https://github.com/MishaIac" tuiLink>MishaIac</a> for tool that helped with extracting binaries from Disorder 6 archives to add names to the scripts</p>
                        </tui-island>
                </div>
        </div>
</div>

<footer-controls></footer-controls>
