<div class="header-controls">
    <a [routerLink]="'/info'" class="header-controls_button">
        <button icon="tuiIconHelpCircleLarge" tuiIconButton appearance="icon" tuiHint="General Info" tuiHintAppearance="onDark">
        </button>
    </a>
    <a [routerLink]="'/games'" class="header-controls_button">
        <button icon="tuiIconHomeLarge" tuiIconButton appearance="icon" tuiHint="To game list" tuiHintAppearance="onDark">
        </button>
    </a>
    <a [routerLink]="'/settings'" class="header-controls_button">
        <button icon="tuiIconSettingsLarge" tuiIconButton appearance="icon" tuiHint="Global Settings" tuiHintAppearance="onDark">
        </button>
    </a>
    <button class="header-controls_button"
            [icon]="night.value? 'tuiIconSunLarge': 'tuiIconMoonLarge' " 
            tuiIconButton
            appearance="icon" 
            (click)="night.toggle()"
            [tuiHint]="this.night.value?'Switch to light mode':'Switch to night mode'" tuiHintAppearance="onDark">
    </button>
</div>